<a href="https://colab.research.google.com/github/mr-alamdari/NLP-Semantiment-Analysis/blob/main/NLP_Semantiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import spacy
import numpy as np
import pandas as pd

In [11]:
!python -m spacy download en_core_web_lg
import en_core_web_lg
nlp = en_core_web_lg.load()

In [14]:
nlp(u'Hello').vector

array([ 0.25233  ,  0.10176  , -0.67485  ,  0.21117  ,  0.43492  ,
        0.16542  ,  0.48261  , -0.81222  ,  0.041321 ,  0.78502  ,
       -0.077857 , -0.66324  ,  0.1464   , -0.29289  , -0.25488  ,
        0.019293 , -0.20265  ,  0.98232  ,  0.028312 , -0.081276 ,
       -0.1214   ,  0.13126  , -0.17648  ,  0.13556  , -0.16361  ,
       -0.22574  ,  0.055006 , -0.20308  ,  0.20718  ,  0.095785 ,
        0.22481  ,  0.21537  , -0.32982  , -0.12241  , -0.40031  ,
       -0.079381 , -0.19958  , -0.015083 , -0.079139 , -0.18132  ,
        0.20681  , -0.36196  , -0.30744  , -0.24422  , -0.23113  ,
        0.09798  ,  0.1463   , -0.062738 ,  0.42934  , -0.078038 ,
       -0.19627  ,  0.65093  , -0.22807  , -0.30308  , -0.12483  ,
       -0.17568  , -0.14651  ,  0.15361  , -0.29518  ,  0.15099  ,
       -0.51726  , -0.033564 , -0.23109  , -0.7833   ,  0.018029 ,
       -0.15719  ,  0.02293  ,  0.49639  ,  0.029225 ,  0.05669  ,
        0.14616  , -0.19195  ,  0.16244  ,  0.23898  ,  0.36431  ,
        0.45263  ,  0.2456   ,  0.23803  ,  0.31399  ,  0.3487   ,
       -0.035791 ,  0.56108  , -0.25345  ,  0.051964 , -0.10618  ,
       -0.30962  ,  1.0585   , -0.42025  ,  0.18216  , -0.11256  ,
        0.40576  ,  0.11784  , -0.19705  , -0.075292 ,  0.080723 ,
       -0.02782  , -0.15617  , -0.44681  , -0.15165  ,  0.1692   ,
        0.098255 , -0.031894 ,  0.087143 ,  0.26082  ,  0.002706 ,
        0.1319   ,  0.34439  , -0.37894  , -0.4114   ,  0.081571 ,
       -0.11674  , -0.43711  ,  0.011144 ,  0.099353 ,  0.26612  ,
        0.40025  ,  0.18895  , -0.18438  , -0.30355  , -0.2725   ,
        0.22468  , -0.40614  ,  0.15618  , -0.16043  ,  0.47147  ,
        0.0080203,  0.56858  ,  0.21934  , -0.11181  ,  0.79925  ,
        0.10714  , -0.50146  ,  0.063593 ,  0.069465 ,  0.15292  ,
       -0.2747   , -0.20989  ,  0.20737  , -0.10681  ,  0.40651  ,
       -2.6438   , -0.31139  , -0.32157  , -0.26458  , -0.35625  ,
        0.070013 , -0.18838  ,  0.48773  , -0.26167  , -0.020805 ,
        0.17819  ,  0.15758  , -0.13752  ,  0.056464 ,  0.30766  ,
       -0.066136 ,  0.4748   , -0.27335  ,  0.09732  , -0.20832  ,
        0.0039332,  0.346    , -0.08702  , -0.54924  , -0.18759  ,
       -0.17174  ,  0.060324 , -0.13521  ,  0.10419  ,  0.30165  ,
        0.05798  ,  0.21872  , -0.073594 , -0.20423  , -0.25279  ,
       -0.10471  , -0.32163  ,  0.12525  , -0.31281  ,  0.0097207,
       -0.26777  , -0.61121  , -0.11089  , -0.13652  ,  0.035135 ,
       -0.4939   ,  0.084857 , -0.15494  , -0.063509 , -0.23935  ,
        0.28272  ,  0.10849  , -0.3365   , -0.60764  ,  0.38576  ,
       -0.0095438,  0.17499  , -0.52723  ,  0.62211  ,  0.19544  ,
       -0.48977  ,  0.036582 , -0.128    , -0.016827 ,  0.25647  ,
       -0.31698  ,  0.48257  , -0.14184  ,  0.11046  , -0.3098   ,
       -0.63141  , -0.37268  ,  0.23183  , -0.14268  , -0.02341  ,
        0.022255 , -0.044662 , -0.16404  , -0.25848  ,  0.1629   ,
        0.024751 ,  0.23348  ,  0.27933  ,  0.38998  , -0.058968 ,
        0.11355  ,  0.15673  ,  0.18583  , -0.19814  , -0.48123  ,
       -0.035084 ,  0.078458 , -0.49833  ,  0.10855  , -0.20133  ,
        0.05292  , -0.11583  , -0.16009  ,  0.16768  ,  0.42362  ,
       -0.23106  ,  0.082465 ,  0.24296  , -0.16786  ,  0.0080409,
        0.085947 ,  0.38033  ,  0.072981 ,  0.1633   ,  0.24704  ,
       -0.11094  ,  0.15115  , -0.22068  , -0.061944 , -0.037091 ,
       -0.087923 , -0.23181  ,  0.15035  , -0.19093  , -0.19113  ,
       -0.11894  ,  0.094908 , -0.0043347,  0.15362  , -0.41201  ,
       -0.3073   ,  0.18375  ,  0.40206  , -0.0034793, -0.10917  ,
       -0.69522  ,  0.10161  , -0.079256 ,  0.40329  ,  0.22285  ,
       -0.19374  , -0.13315  ,  0.073231 ,  0.099832 ,  0.11685  ,
       -0.21643  , -0.1108   ,  0.10341  ,  0.097286 ,  0.11196  ,
       -0.3894   , -0.0089363,  0.28809  , -0.10792  ,  0.028811 ,
        0.32545  ,  0.26052  , -0.038941 ,  0.075204 ,  0.46031  ,
       -0.06293  ,  0.21661  ,  0.17869  , -0.51917  ,  0.33591  ],
      dtype=float32)

In [15]:
nlp(u'Hello').vector.shape

(300,)

In [18]:
nlp(u'Hello my friends, how are you doing?').vector.shape

(300,)

In [25]:
text = 'cat dog pet'
tokens = nlp(text)

In [22]:
mat = np.zeros((len(tokens), len(tokens)))
for i, token in enumerate(tokens):
  for j, t in enumerate(tokens):
    mat[i, j] = token.similarity(t)

In [26]:
pd.DataFrame(mat, index=text.split(), columns=text.split())

          cat       dog       pet
cat  1.000000  0.801685  0.750546
dog  0.801685  1.000000  0.805745
pet  0.750546  0.805745  1.000000

In [73]:
def show_similarity(text):
  tokens = nlp(text)
  l = len(tokens)
  mat = np.zeros((l, l+1))
  words_list = text.split()

  for i, token in enumerate(tokens):
    for j, t in enumerate(tokens):
      mat[i, j] = token.similarity(t)
    mat[i, j+1] = token.is_oov
  return pd.DataFrame(mat, index=words_list, columns=words_list+['Out of Vocabulary'])

In [74]:
show_similarity(text)

          cat       dog       pet  Out of Vocabulary
cat  1.000000  0.801685  0.750546                0.0
dog  0.801685  1.000000  0.805745                0.0
pet  0.750546  0.805745  1.000000                0.0

In [75]:
show_similarity('Hello ESI cat where is your owner are you lost')

,Hello,ESI,cat,where,is,your,owner,are,you,lost,Out of Vocabulary
Hello,1.000000,0.036048,0.384001,0.287855,0.183826,0.273613,0.181252,0.167476,0.411057,0.220646,0.0
ESI,0.036048,1.000000,0.024285,-0.148939,-0.152116,-0.138807,-0.083097,-0.190228,-0.181187,-0.051483,0.0
cat,0.384001,0.024285,1.000000,0.305819,0.282202,0.287218,0.327468,0.204125,0.308080,0.279148,0.0
where,0.287855,-0.148939,0.305819,1.000000,0.599389,0.419725,0.394735,0.521610,0.639354,0.467560,0.0
is,0.183826,-0.152116,0.282202,0.599389,1.000000,0.411793,0.393141,0.522805,0.533453,0.340251,0.0
your,0.273613,-0.138807,0.287218,0.419725,0.411793,1.000000,0.324524,0.370905,0.780124,0.323926,0.0
owner,0.181252,-0.083097,0.327468,0.394735,0.393141,0.324524,1.000000,0.224684,0.364087,0.332178,0.0
are,0.167476,-0.190228,0.204125,0.521610,0.522805,0.370905,0.224684,1.000000,0.563189,0.319569,0.0
you,0.411057,-0.181187,0.308080,0.639354,0.533453,0.780124,0.364087,0.563189,1.000000,0.381077,0.0
lost,0.220646,-0.051483,0.279148,0.467560,0.340251,0.323926,0.332178,0.319569,0.381077,1.000000,0.0

In [76]:
show_similarity('Love like hate')

          Love      like      hate  Out of Vocabulary
Love  1.000000  0.657904  0.639310                0.0
like  0.657904  1.000000  0.657465                0.0
hate  0.639310  0.657465  1.000000                0.0

In [77]:
nlp.vocab.vectors.shape

(684831, 300)

In [79]:
show_similarity('mresi has a cat')

/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)

       mresi       has         a       cat  Out of Vocabulary
mresi    1.0  0.000000  0.000000  0.000000                1.0
has      0.0  1.000000  0.527749  0.253574                0.0
a        0.0  0.527749  1.000000  0.304866                0.0
cat      0.0  0.253574  0.304866  1.000000                0.0

In [98]:
from scipy import spatial
cos_sim = lambda vec1, vec2: 1 - spatial.distance.cosine(vec1, vec2)

In [99]:
king = nlp.vocab['king'].vector
man = nlp.vocab['man'].vector
woman = nlp.vocab['woman'].vector

In [100]:
new_vec = king - man + woman

In [106]:
computed_sim = []
for word in nlp.vocab:
  if word.has_vector & word.is_lower & word.is_alpha:
    sim = cos_sim(new_vec, word.vector)
    computed_sim.append((word.text, sim))

In [107]:
computed_sim = sorted(computed_sim, key=lambda x: -x[1])

In [110]:
computed_sim[:20]

[('king', 0.8024259805679321),
 ('queen', 0.7880843877792358),
 ('prince', 0.6401076912879944),
 ('kings', 0.6208544373512268),
 ('princess', 0.6125636100769043),
 ('royal', 0.5800970792770386),
 ('throne', 0.5787012577056885),
 ('queens', 0.5743793845176697),
 ('monarch', 0.563362181186676),
 ('kingdom', 0.5520980954170227),
 ('empress', 0.528952956199646),
 ('lady', 0.5254388451576233),
 ('woman', 0.5150813460350037),
 ('princes', 0.5051530599594116),
 ('mother', 0.497583270072937),
 ('duke', 0.4868083894252777),
 ('emperor', 0.47984421253204346),
 ('reign', 0.47829094529151917),
 ('goddess', 0.4750741422176361),
 ('lord', 0.47107836604118347)]

In [115]:
def words_semantic_finder(word1, word2, word3):
  word1 = nlp.vocab[word1].vector
  word2 = nlp.vocab[word2].vector
  word3 = nlp.vocab[word3].vector
  new_vec = word1 - word2 + word3
  computed_sim = []
  for word in nlp.vocab:
    if word.has_vector & word.is_lower & word.is_alpha:
      sim = cos_sim(new_vec, word.vector)
      computed_sim.append((word.text, sim))
  computed_sim = sorted(computed_sim, key=lambda x: -x[1])
  return computed_sim

In [116]:
words_semantic_finder('king', 'boy', 'girl')[:20]

[('king', 0.8568281531333923),
 ('queen', 0.7856624722480774),
 ('kings', 0.6898518800735474),
 ('prince', 0.6412386298179626),
 ('kingdom', 0.6164750456809998),
 ('princess', 0.6089317798614502),
 ('throne', 0.596087634563446),
 ('royal', 0.5812860727310181),
 ('queens', 0.569563627243042),
 ('lord', 0.5553606152534485),
 ('princes', 0.5458647012710571),
 ('monarch', 0.5391060709953308),
 ('reign', 0.5153759121894836),
 ('lady', 0.5148307681083679),
 ('empress', 0.5122785568237305),
 ('duke', 0.5011358857154846),
 ('goddess', 0.4867176413536072),
 ('lords', 0.48484835028648376),
 ('emperor', 0.4745334982872009),
 ('knight', 0.4688780605792999)]

In [117]:
words_semantic_finder('lion', 'cat', 'wolf')[:20]

[('wolf', 0.756814181804657),
 ('lion', 0.7427126169204712),
 ('wolves', 0.6611201763153076),
 ('lions', 0.602623462677002),
 ('grizzly', 0.5764345526695251),
 ('panther', 0.5451298356056213),
 ('bison', 0.5295594334602356),
 ('caribou', 0.5287589430809021),
 ('eagle', 0.5241438150405884),
 ('jackal', 0.522642970085144),
 ('moose', 0.5224730372428894),
 ('lioness', 0.5200225114822388),
 ('tiger', 0.519088864326477),
 ('bear', 0.5143458843231201),
 ('wolfs', 0.514160692691803),
 ('antelope', 0.5052971243858337),
 ('elk', 0.5040181875228882),
 ('bears', 0.5002385377883911),
 ('buffalo', 0.4995751976966858),
 ('hyena', 0.49791601300239563)]

In [118]:
words_semantic_finder('whale', 'shark', 'horse')[:20]

[('horse', 0.823971688747406),
 ('horses', 0.7489991188049316),
 ('pony', 0.5968052744865417),
 ('riding', 0.5651798248291016),
 ('horseback', 0.5622166991233826),
 ('equine', 0.5608040690422058),
 ('stallion', 0.5574216246604919),
 ('donkey', 0.5497463941574097),
 ('cow', 0.5484589338302612),
 ('ponies', 0.5426840782165527),
 ('cattle', 0.5332987308502197),
 ('stables', 0.5270552635192871),
 ('sheep', 0.5153661966323853),
 ('camel', 0.5143934488296509),
 ('thoroughbred', 0.5129441618919373),
 ('herd', 0.5127334594726562),
 ('equestrian', 0.5054941773414612),
 ('mule', 0.4975702166557312),
 ('foal', 0.4958617091178894),
 ('rides', 0.4918358623981476)]

In [119]:
words_semantic_finder('car', 'driver', 'horse')[:20]

[('horse', 0.7095716595649719),
 ('horses', 0.6396541595458984),
 ('pony', 0.5714321136474609),
 ('car', 0.5330120325088501),
 ('dog', 0.5203853249549866),
 ('cars', 0.4889605939388275),
 ('barn', 0.4851994216442108),
 ('ponies', 0.47962620854377747),
 ('riding', 0.4754590392112732),
 ('pet', 0.4669674038887024),
 ('dogs', 0.4663594663143158),
 ('equine', 0.4583134055137634),
 ('wagon', 0.4537166953086853),
 ('cow', 0.4486503601074219),
 ('sale', 0.44611844420433044),
 ('stallion', 0.44571322202682495),
 ('equestrian', 0.44530200958251953),
 ('stables', 0.44267934560775757),
 ('puppy', 0.4357976019382477),
 ('sheep', 0.42969900369644165)]

#####VADER
######Valence Aware Dictionary for Sentiment Reasoning
######it is a model that used for sentiment analysis that is sensitive to both polarity and intensity

In [120]:
import nltk

In [121]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [127]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [128]:
sid = SentimentIntensityAnalyzer()

In [131]:
text = 'I liked this movie'

In [133]:
#Has 4 categories:   Neg, Pos, Neu, Compund

sid.polarity_scores(text)

{'compound': -0.1531, 'neg': 0.415, 'neu': 0.244, 'pos': 0.341}

In [134]:
text = 'I liked this disgusting movie'

In [136]:
sid.polarity_scores(text)

{'compound': -0.1531, 'neg': 0.415, 'neu': 0.244, 'pos': 0.341}

In [137]:
text = 'You say this good fo nothing movie is good?'

In [138]:
sid.polarity_scores(text)

{'compound': 0.775, 'neg': 0.0, 'neu': 0.509, 'pos': 0.491}

In [147]:
text = 'You say this good fo nothing movie is good? No way'

In [148]:
sid.polarity_scores(text)

{'compound': 0.6757, 'neg': 0.13, 'neu': 0.472, 'pos': 0.398}

In [149]:
!wget https://raw.githubusercontent.com/mr-alamdari/NLP-Semantiment-Analysis/main/amazonreviews.tsv

--2022-04-29 08:39:18--  https://raw.githubusercontent.com/mr-alamdari/NLP-Semantiment-Analysis/main/amazonreviews.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4458101 (4.3M) [text/plain]
Saving to: amazonreviews.tsv

amazonreviews.tsv   100%[===================>]   4.25M  --.-KB/s    in 0.06s

2022-04-29 08:39:19 (75.9 MB/s) - amazonreviews.tsv saved [4458101/4458101]

In [151]:
df = pd.read_csv('amazonreviews.tsv', sep='\t')

In [152]:
df.tail()

     label                                             review
9995   pos  A revelation of life in small town America in ...
9996   pos  Great biography of a very interesting journali...
9997   neg  Interesting Subject; Poor Presentation: You'd ...
9998   neg  Don't buy: The box looked used and it is obvio...
9999   pos  Beautiful Pen and Fast Delivery.: The pen was ...

In [153]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [154]:
df.dropna(inplace=True)

In [159]:
blanks = [i for i, y, review in df.itertuples() if type(review)==str and review.isspace()]

In [160]:
df.drop(blanks, inplace=True)

In [170]:
text = df.iloc[np.random.randint(0, len(df))]
print(text.label, end='\n')
text.review

neg

'What a laugh: This junk really stinks (literally, it smells horrible)!! I\'ve used better products and those other attractants did trigger responses in females. I\'ve been INSULTED by the females at my job after using alter ego and been told things like "what in the world is that new cologne you\'re wearing, it doesn\'t smell good". I told my wife I was wearing a new type of "after shave" and she hates it so much I had to promise NOT to wear it to bed. Don\'t believe the hype of Alter Ego, there are far far far better Pheromones. It\'s apparent they tried to give it a MASCULINE tone, but they went too far.'

In [171]:
sid.polarity_scores(text.review)

{'compound': 0.5819, 'neg': 0.052, 'neu': 0.846, 'pos': 0.102}

In [172]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [173]:
df.tail()

,label,review,scores
9995,pos,A revelation of life in small town America in ...,"{'neg': 0.017, 'neu': 0.846, 'pos': 0.136, 'co..."
9996,pos,Great biography of a very interesting journali...,"{'neg': 0.0, 'neu': 0.868, 'pos': 0.132, 'comp..."
9997,neg,Interesting Subject; Poor Presentation: You'd ...,"{'neg': 0.096, 'neu': 0.768, 'pos': 0.137, 'co..."
9998,neg,Don't buy: The box looked used and it is obvio...,"{'neg': 0.091, 'neu': 0.909, 'pos': 0.0, 'comp..."
9999,pos,Beautiful Pen and Fast Delivery.: The pen was ...,"{'neg': 0.028, 'neu': 0.811, 'pos': 0.161, 'co..."

In [175]:
df['compound'] = df['scores'].apply(lambda item: item['compound'])

In [176]:
df.tail()

,label,review,scores,compound
9995,pos,A revelation of life in small town America in ...,"{'neg': 0.017, 'neu': 0.846, 'pos': 0.136, 'co...",0.9610
9996,pos,Great biography of a very interesting journali...,"{'neg': 0.0, 'neu': 0.868, 'pos': 0.132, 'comp...",0.9544
9997,neg,Interesting Subject; Poor Presentation: You'd ...,"{'neg': 0.096, 'neu': 0.768, 'pos': 0.137, 'co...",0.7074
9998,neg,Don't buy: The box looked used and it is obvio...,"{'neg': 0.091, 'neu': 0.909, 'pos': 0.0, 'comp...",-0.3595
9999,pos,Beautiful Pen and Fast Delivery.: The pen was ...,"{'neg': 0.028, 'neu': 0.811, 'pos': 0.161, 'co...",0.9107

In [177]:
df['compound_score'] = df['compound'].apply(lambda score: 'pos' if score>=0 else 'neg')

In [178]:
df.tail()

,label,review,scores,compound,compound_score
9995,pos,A revelation of life in small town America in ...,"{'neg': 0.017, 'neu': 0.846, 'pos': 0.136, 'co...",0.9610,pos
9996,pos,Great biography of a very interesting journali...,"{'neg': 0.0, 'neu': 0.868, 'pos': 0.132, 'comp...",0.9544,pos
9997,neg,Interesting Subject; Poor Presentation: You'd ...,"{'neg': 0.096, 'neu': 0.768, 'pos': 0.137, 'co...",0.7074,pos
9998,neg,Don't buy: The box looked used and it is obvio...,"{'neg': 0.091, 'neu': 0.909, 'pos': 0.0, 'comp...",-0.3595,neg
9999,pos,Beautiful Pen and Fast Delivery.: The pen was ...,"{'neg': 0.028, 'neu': 0.811, 'pos': 0.161, 'co...",0.9107,pos

In [179]:
from sklearn import metrics

In [181]:
metrics.accuracy_score(df['label'], df['compound_score'])

0.7091

In [183]:
print(metrics.classification_report(df['label'], df['compound_score']))

              precision    recall  f1-score   support

         neg       0.86      0.51      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000

In [185]:
print(metrics.confusion_matrix(df['label'], df['compound_score']))

[[2623 2474]
 [ 435 4468]]

#Sentiment Analysis for Movie Reviews

In [186]:
!wget https://raw.githubusercontent.com/mr-alamdari/NLP-Semantiment-Analysis/main/moviereviews.tsv

--2022-04-29 09:03:21--  https://raw.githubusercontent.com/mr-alamdari/NLP-Semantiment-Analysis/main/moviereviews.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7571363 (7.2M) [text/plain]
Saving to: moviereviews.tsv

moviereviews.tsv    100%[===================>]   7.22M  --.-KB/s    in 0.07s

2022-04-29 09:03:22 (106 MB/s) - moviereviews.tsv saved [7571363/7571363]

In [187]:
df = pd.read_csv('moviereviews.tsv', sep='\t')

In [188]:
df.tail()

     label                                             review
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

In [189]:
df.dropna(inplace=True)

In [190]:
df['label'].value_counts()

neg    983
pos    982
Name: label, dtype: int64

In [191]:
blanks = [i for i, y, review in df.itertuples() if type(review)==str and review.isspace()]
df.drop(blanks, inplace=True)

In [192]:
text = df.iloc[np.random.randint(0, len(df))]
print(text.label, end='\n')
text.review

neg

'if i were to plot a graph of year against movie-plot-ridiculity for = hollywood movies , you\'ll probably see a line with constant gradient . \r\n= now , if i were to plot that same graph for the movies that the michael = bay/jerry bruckheimer has made over the last 4 years , that line would be = exponential in growth . \r\nthe team started out with the will smith vehicle = bad boys which was no more than a 2hr long action-music-video , = nevertheless entertaining . \r\nthen came the rock , where audiences flocked = to see nicholas cage team up with sean connery against some terrorizing = general fighting over some stupid cause . \r\ncon-air was ridiculousy dumb in = its premise but it did have fun moments , and who can forget the nursery = rhyme sang by that psycho killer played by steve buscemi . \r\nwhile these = movies worked because there was something better to cover-up the dirt , = armageddon does not . \r\nvery much like deep impact , a meteor is heading towards earth and they = didn\'t realize it until 18 days from impact . \r\ndeep impact settled with = the modest meteor size as large as the city of new york but armageddon = just had to be bigger . . . . well \r\nabout the size of texas ( that kinda meteor = whould probably knock earth out of its orbit ! ) . \r\nthe panic of this = sighting spurs the idea of landing people on the meteor , drill it then = nuke it ( sounds familiar ) and who better to do such a job than harry = stamper ( bruce willis ) , your very own oil-driller extraordinaire and = his team of macho-misfits , nursing the tagline `there ain\'t nothin\' on = this planet that harry can\'t drill ! \' . \r\nin that 18 days , harry\'s group was = split into 2 teams , trained for deep-space flight and finally blasted = into space in with special drilling vehicles on 2 new space shuttles . \r\nthe main relationship drama of armageddon is formed within the = relationship of harry , a . j . \r\nand grace . \r\nto give you an idea , a . j . \r\nworks = for harry , and loves grace , harry\'s daughter . \r\nthe problem is , harry = hates to see his daughter hanging around some scruffy grunt like himself = for the rest of her life . \r\nso while a . j . \r\nand harry struts it out , grace = is place in a position where she is unable to take sides , so she remains = seated in the nasa control tower , crying over both of them in about 80% = of the movie . \r\nthe human elements this movie tries to inject proves to be nothing more = than just an excuse for more slow-mo\'s and gold-tinted photography . \r\nthe = anguish of the world is potrayed with scenes of people praying , running = for their lives or just sitting still staring at the sky , sounds fine = right ? \r\ni know , but it looks too out of place on screen , too staged . \r\nif = you were to ask yourself , `what\'s the difference between armageddon and = a r&b music video ? " \r\nyou\'d probably just said `the music . " . \r\nnot = surprising since michael bay is a child of that industry and has = actually managed to transpose his mtv skills to screen successfully . \r\nhis = foray into armageddon just proves that he doesn\'t when to stop . \r\nwell there\'s really nothing much to sum up here . \r\nthe = stock-aitken-waterman of hollywood movies have projected their art-form = into ridiculity , beyond the plane believability , where people still = accept even if they didn\'t believe . \r\ndeep impact was ridiculous in most = aspects and i believe the makers know this . \r\nthe thing is , they decided = to shroud myth and fantasy with a purely believable human tale of = suffering and coming in terms with ones problems , which ultimately = brought it above the ashes which it had initially put itself in . \r\n= armageddon , is an overcrowded , loud , messy , preposterously manipulative = waste of money and deserves to remain in that same pile of ash . . =20 \r\nif you have planned to watched this over deep impact because of liv = tyler , bruce willis or the tagline " from the makers of `the rock\' ! ! " . \r\n= please catch deep impact before it finishes its run , it may be the only = meteor worth watching in long-long time . \r\nif you have to see it , please = bring ear-plugs and some aspirins ( for the vertigo ) . \r\nexpect armageddon = ld\'s to retail at s$19 . 90 at carrefour come release time . \r\ngee . . . . . . even \r\n= that\'s not worth it ! \r\n'

In [194]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [195]:
sid = SentimentIntensityAnalyzer()

In [199]:
sid.polarity_scores(text.review)

{'compound': -0.4879, 'neg': 0.094, 'neu': 0.814, 'pos': 0.092}

In [202]:
df['score'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [205]:
df['compound'] = df['score'].apply(lambda item: item['compound'])

In [206]:
df.tail()

,label,review,score,compound
1995,pos,"i like movies with albert brooks , and i reall...","{'neg': 0.073, 'neu': 0.764, 'pos': 0.163, 'co...",0.9991
1996,pos,it might surprise some to know that joel and e...,"{'neg': 0.237, 'neu': 0.689, 'pos': 0.074, 'co...",-0.9993
1997,pos,the verdict : spine-chilling drama from horror...,"{'neg': 0.15, 'neu': 0.705, 'pos': 0.145, 'com...",-0.7564
1998,pos,i want to correct what i wrote in a former ret...,"{'neg': 0.129, 'neu': 0.711, 'pos': 0.16, 'com...",0.9489
1999,pos,"a couple of months ago , when i first download...","{'neg': 0.071, 'neu': 0.741, 'pos': 0.188, 'co...",0.9981

In [208]:
df['compound_score'] = df['compound'].apply(lambda score: 'pos' if score>=0 else 'neg')

In [209]:
df.head()

,label,review,score,compound,compound_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg

In [210]:
from sklearn import metrics

In [211]:
metrics.accuracy_score(df['label'], df['compound_score'])

0.6367389060887513

In [212]:
print(metrics.classification_report(df['label'], df['compound_score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [213]:
print(metrics.confusion_matrix(df['label'], df['compound_score']))

[[427 542]
 [162 807]]